.productdisplay{
    display: flex;
    margin: 0px 170px;

}
.productdisplay_left{
    display: flex;
    gap: 17px;
}
.productdisplay_img_list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.productdisplay_img_list img{
    height: 163px;

}
.productdisplay_main_img{
    width: 586px;
    height: 700px;
}
.productdisplay_right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.productdisplay_right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}
.productdisplay_right_stars{
    display: flex  ;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}
.productdisplay_right_prices{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px ;
    font-weight: 700;

    
}
.productdisplay_right_pice_old{
    text-decoration: line-through;
    color: #818181;
}
.productdisplay_right_price_new{
    color: #ff414f;

}
.productdisplay_right_size h1{
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600px;

}
.productdisplay_right_sizes{
    display: flex;
    margin: 30px 0px;
    gap: 20px;

}
.productdisplay_right_sizes div{
    padding: 18px 24px;
    background-color: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.productdisplay_right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white ;
    background-color: #ff4141;
    cursor: pointer;
    margin-bottom: 40px;
    border: none;
    outline: none;
    
}
.productdisplay_right_category {
    margin-top: 10px;

}
.productdisplay_right_category span{
    font-weight: 600;
}


